@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Yellowtail&display=swap");
$poppins: "Poppins", sans-serif;
$nato: "Noto Serif", serif;
$yellowTail: "Yellowtail", cursive;
$background_color: #000000;
$secondar_background_color: #262626;
$text_color: rgb(255, 255, 255);
$header_text_color: #1372ff;
$T_card_width: 350px;
// $T_card_background: #333;
$T_card_background: transparent;
$T_card_Layer_background1: $header_text_color;
$T_card_Layer_background2: rgba(255, 136, 0, 0.938);

// All Margin & Padding are available here
$section_margin: 5px;
$section_padding: 15px 0;

// All Text Sizes are available here
$header_font_size: 2.2rem;

// Default Section Design
@mixin section_design {
  background-color: $secondar_background_color;
  min-height: 300px;
  margin: $section_margin;
  padding: $section_padding;
}

// Default Card Design
@mixin card_holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card_width, 1fr));
  gap: 15px;
}

$card_width: 250px;
.card_holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card_width, 1fr));
  gap: 15px;
  .card {
    background: $T_card_background;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgb(0, 0, 0);
    display: block;

    .card_image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
body {
  //   cursor: none;
  font-size: 15px;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $text_color;
  background-color: $background_color;
  font-family: "Open Sans", sans-serif;
  // position: relative;
  scroll-behavior: smooth;

  ul,
  ol,
  li,
  label,
  input {
    padding: 0;
    margin: 0;
  }
  h2 {
    text-align: center;
    padding: 15px 0;
    color: $header_text_color;
    text-shadow: 0 10px 20px rgb(0, 0, 0);
  }
}

// Main SideBar Design
.sideBar {
  background-color: $secondar_background_color;
  min-height: 100%;
  position: fixed;
  overflow-x: hidden;

  .logo p {
    letter-spacing: 8px;
  }

  ul {
    list-style: none;

    li {
      padding: 5px 0;
      &:hover {
        background: $header_text_color;
      }

      a {
        color: $text_color;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        transition: 1s;

        span {
          padding-left: 10px;
        }
      }
    }
  }

  // SideBar Menu Design
  .sidebar_menu {
    .profile {
      padding-top: 15px;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 20px;
      }

      h4 {
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-family: $yellowTail;
      }
    }
  }
  // SideBar Footer Design
  .sidebar_footer {
    ul {
      display: flex;
      li {
        list-style-type: none;
        padding: 10px 0;
        border-radius: 50%;
        &:hover {
          background: $secondar_background_color;
        }
        a {
          color: $text_color;
          font-weight: 600;
          letter-spacing: 2px;
          transition: 0.5;
          &:hover {
            color: $header_text_color;
          }
        }
      }
    }
  }

  // Footer Contact Design
  .fast_contact {
    h6 {
      span {
        padding-left: 10px;
      }
      ul {
        li {
          a {
            padding: 0;
          }
        }
      }
    }
  }
}

.contentBar {
  display: inline-block;

  // Up Array Design
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    outline: none;
    background-color: $background_color;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 2px;
    animation: upArray 3s infinite;
    animation-fill-mode: forwards;
  }
  @keyframes upArray {
    from {
      bottom: 10px;
    }
    to {
      bottom: 30px;
      color: rgb(128, 51, 0);
    }
  }

  // Home section Design
  #home {
    @include section_design;
    min-height: 100vh;

    .banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  #about {
    @include section_design;
  }

  #services {
    @include section_design;
  }

  #contact {
    @include section_design;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  #testimonials {
    @include section_design;
    h2 {
      color: $header_text_color;
      text-align: center;
    }
    .card_area {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($T_card_width, 1fr));
      gap: 15px;

      .T_card {
        position: relative;
        width: $T_card_width;
        margin: 0 auto;
        background: $T_card_background;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 10px 40px rgb(0, 0, 0);
        overflow: hidden;
        &:hover {
          .layer {
            top: 0;
          }
        }

        .layer {
          position: absolute;
          top: calc(100% - 3px);
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            $T_card_Layer_background1,
            $T_card_Layer_background2
          );
          z-index: 1;
          transition: 0.5s;
        }

        .content {
          position: relative;
          z-index: 2;

          .image {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
            border: 3px solid $T_card_Layer_background1;
            box-shadow: 0 10px 20px rgb(0, 0, 0);
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // Design for portfolio section

  $flipBox_area: 250px;
  $flipBox_height: 300px;
  $flipBack_headerColor: #ffc107;

  #portfollio {
    @include section_design;
    min-height: 200px;

    .group_btn {
      text-align: center;
      button {
        padding: 0 15px;
        margin: 0 15px 15px 0;
        color: $header_text_color;
        background: $T_card_background;
        border: 1px solid $header_text_color;
        box-shadow: 0 10px 20px rgb(0, 0, 0);
        &:hover {
          background: $header_text_color;
          color: $text_color;
        }
      }
    }
    .project_holder {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($flipBox_area, 1fr));
      gap: 10px;
    }
    .FlipBox {
      background-color: transparent;
      width: 100%;
      height: $flipBox_height;
      box-shadow: 0 10px 40px rgb(0, 0, 0);
      // border: 1px solid $header_text_color;
      perspective: 1000px;
      &:hover {
        .FlipBox_innerX {
          transform: rotateX(180deg);
        }
        .FlipBox_innerY {
          transform: rotateY(180deg);
        }
      }

      .FlipBox_innerX,
      .FlipBox_innerY {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .FlipBox_front,
      .FlipBox_back,
      .FlipBox_backY {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .FlipBox_front {
        .FlipImage {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
          }
        }
        background: chartreuse;
        color: black;
      }

      @mixin flipBack {
        h2 {
          background: $flipBack_headerColor;
        }

        p {
          padding: 15px;
          line-height: 20px;
          text-align: left;
        }
        a {
          position: absolute;
          padding: 10px;
          background: $header_text_color;
          text-decoration: none;
          color: $text_color;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
      .FlipBox_back {
        position: relative;
        @include flipBack;
        background: $T_card_background;
        transform: rotateX(180deg);
      }
      .FlipBox_backY {
        @include flipBack;
        background: $T_card_background;
        transform: rotateY(180deg);
      }
    }
  }

  #footer {
    @include section_design;
    min-height: 100px;
  }
}
